{% extends 'base.html' %}
{% load static %}
{% block title%}
About
{% endblock title %}
{% block content %}
<h1>About us</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, doloremque, iure excepturi, hic sed facere saepe rem
    quia vero accusamus laudantium molestiae suscipit. Qui dolor quidem rem nulla. Molestiae, quidem! Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Praesentium esse ratione facere hic corporis illum sequi voluptatem
    voluptates in veritatis id, quibusdam exercitationem quia ipsum ullam tempore quod rem et neque voluptate eveniet
    commodi? Ducimus dicta esse et quis repudiandae expedita. Dignissimos consequuntur, quod repellendus ipsa odio
    assumenda voluptatum deleniti quasi voluptas earum quis, necessitatibus deserunt vero consequatur in doloremque
    maxime repudiandae a asperiores beatae adipisci sed neque provident impedit? Asperiores voluptatum aliquid odio
    aperiam excepturi enim similique aspernatur, placeat dolor laboriosam doloremque hic quae culpa at quis facere iste
    deleniti eum. Reprehenderit sapiente amet modi autem, hic vel! Expedita.</p>
{% endblock content %}