{% extends 'base.html' %}
{% load static %}
{% block title%}
Homepage
{% endblock title %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-3">Book Store</h1>
    <form class="form-inline mt-2 mt-md-0" action="{% url 'search_results' %}" method="get">
        <input name="q" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
    </form>
    {% if user.is_authenticated %}
    <p class="lead">Hi, {{ user.username }}</p>
    <a class="btn btn-primary" href="{% url 'account_logout' %}" role="button">Logout</a>
    {% else %}
    <p class="lead">You are not logged in..</p>
    <hr class="my-2">

    <a class="btn btn-primary" href="{% url 'account_login' %}" role="button">Sign in</a>

    <a class="btn btn-primary" href="{% url 'account_signup' %}" role="button">Sign up</a>
    {% endif %}
</div>
{% endblock content %}